<template>
  <el-menu
    :default-active="activeIndex"
    class="el-menu-demo px-0 shadow-sm"
    mode="horizontal"
    :ellipsis="false"
    @select="handleSelect"
  >
    <el-menu-item index="0">LOGO</el-menu-item>
    <div class="flex-grow" />
    <el-popconfirm confirmButtonText="確定"
    cancelButtonText="取消" title="是否確定登出？">
      <template #reference>
        <el-button>admin&nbsp;<el-icon><UserFilled /></el-icon></el-button>
      </template>
    </el-popconfirm>
  </el-menu>
</template>

<script lang="ts" setup>
import { ref } from "vue";

const activeIndex = ref("1");
const handleSelect = (key: string, keyPath: string[]) => {
  console.log(key, keyPath);
};
</script>

<style>
.flex-grow {
  flex-grow: 1;
}

/* header background */
.el-menu-demo {
  background: #ffffff !important;
}

.el-menu--horizontal > .el-menu-item.is-active {
  border-bottom: 2px solid #ffffff;
}

/* 取消el-button預設border */
.el-button {
  border: 0px;
}
</style>
