<template>
  <el-menu
    class="el-menu-vertical-demo"
    :collapse="isCollapse"
    @open="handleOpen"
    @close="handleClose"
  >
    <el-radio-group v-model="isCollapse" style="margin-bottom: 20px">
      <el-radio-button :label="false">展開</el-radio-button>
      <el-radio-button :label="true">收起</el-radio-button>
    </el-radio-group>
    <el-sub-menu index="1">
      <template #title>
        <el-icon><location /></el-icon>
        <span>One</span>
      </template>
      <el-menu-item-group>
        <template #title><span>Group One</span></template>
        <el-menu-item index="1-1">item one</el-menu-item>
        <el-menu-item index="1-2">item two</el-menu-item>
      </el-menu-item-group>
      <el-menu-item-group title="Group Two">
        <el-menu-item index="1-3">item three</el-menu-item>
      </el-menu-item-group>
      <el-sub-menu index="1-4">
        <template #title><span>item four</span></template>
        <el-menu-item index="1-4-1">item one</el-menu-item>
      </el-sub-menu>
    </el-sub-menu>
    <el-sub-menu index="2">
      <template #title>
        <el-icon><document /></el-icon>
        <span>Two</span>
      </template>
      <el-menu-item-group>
        <template #title><span>Group Two</span></template>
        <el-menu-item index="2-1">item one</el-menu-item>
        <el-menu-item index="2-2">item two</el-menu-item>
      </el-menu-item-group>
      <el-menu-item-group title="Group Two">
        <el-menu-item index="2-3">item three</el-menu-item>
      </el-menu-item-group>
      <el-sub-menu index="2-4">
        <template #title><span>item four</span></template>
        <el-menu-item index="2-4-1">item one</el-menu-item>
      </el-sub-menu>
    </el-sub-menu>
    <el-sub-menu index="3">
      <template #title>
        <el-icon><setting /></el-icon>
        <span>Three</span>
      </template>
      <el-menu-item-group>
        <template #title><span>Group Three</span></template>
        <el-menu-item index="3-1">item one</el-menu-item>
        <el-menu-item index="3-2">item two</el-menu-item>
      </el-menu-item-group>
      <el-menu-item-group title="Group Two">
        <el-menu-item index="3-3">item three</el-menu-item>
      </el-menu-item-group>
      <el-sub-menu index="3-4">
        <template #title><span>item four</span></template>
        <el-menu-item index="3-4-1">item one</el-menu-item>
      </el-sub-menu>
    </el-sub-menu>
  </el-menu>
</template>

<script lang="ts" setup>
import { ref } from "vue";

const isCollapse = ref(false);
const handleOpen = (key: string, keyPath: string[]) => {
  console.log(key, keyPath);
};
const handleClose = (key: string, keyPath: string[]) => {
  console.log(key, keyPath);
};
</script>

<style>
/* sidebar寬度 */
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
}

/* sidebar background-color */
.el-menu {
  background-color: rgb(60, 76, 100);
}

.el-menu-vertical-demo {
  padding: 10px 5px !important;
  height: 100vh;
}
.el-radio-button__inner {
  padding: 6px 10px;
}

/* 文字顏色 */
.el-menu-vertical-demo > li,
.el-sub-menu__title,
.el-menu-item-group__title,
.el-menu-item {
  color: #ffffff;
}

/* sidebar收折後寬度固定 */
.el-sub-menu .el-menu-item {
  min-width: auto !important;
}
</style>