<template>
  <!-- <div class="d-flex align-items-center justify-content-center" style="height: 100vh">
    <Login @View="changeView" v-if="View === 'login'"></Login>
    <Login></Login>
  </div> -->
  <div class="Login-layout d-flex align-items-center justify-content-center">
    <el-container>
      <el-main><Login></Login></el-main>
    </el-container>
  </div>
</template>

<style>
.Login-layout {
  width: 100%;
  height: 100vh;
  background: #3C4C64;
}
</style>

<script>
import Login from "../components/auth/Login.vue";
export default {
  name: "Auth",
  components: {
    Login,
  },
  // data() {
  //   return {
  //     View: "login",
  //   };
  // },
  // methods: {
  //   changeView(val) {
  //     if (val == "success") {
  //       this.$emit("login");
  //       return;
  //     }
  //     this.View = val;
  //   },
  // },
};
</script>
