<template>
  <el-container>
    <el-aside><SideBar></SideBar></el-aside>
    <el-container class="container-fluid px-0">
      <el-header class="px-0"><Header></Header></el-header>
      <el-main class="main-container">
        <Test></Test>
      </el-main>
      <!-- <el-footer>Footer</el-footer> -->
    </el-container>
  </el-container>
</template>

<script>
import Header from "../components/shared/Header.vue";
import SideBar from "../components/shared/SideBar.vue";
import Test from "../components/Test.vue";
export default {
  name: "Home",
  components: {
    Header,
    SideBar,
    Test,
  },
};
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.el-aside {
  /* 寬度隨sidebar調整 */
  --el-aside-width: auto !important;
  width: auto !important;

  background-color: rgb(60, 76, 100);
}

/* 取消sidebar border */
.el-menu {
  border: 0px !important;
}

/* main background */
.el-main {
  background: #EBEEF5;
}

.main-container {
  width: 100%;
  height: calc(100vh - 60px);
}
</style>
