<template>
  <!-- <Auth></Auth> -->
  <Home></Home>
</template>

<script lang="ts">
import Home from "./views/Home.vue"
// import Auth from "./views/Auth.vue"

export default {
  name: "App",
  components: {
    Home,
    // Auth,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
