<template>
  <div class="login row d-flex justify-content-center align-items-center">
    <el-form
      class="
        login-form
        d-flex
        flex-column
        justify-content-center
        align-items-center
        demo-input-suffix
      "
      :model="loginForm"
      ref="loginForm"
      :rules="loginRules"
      status-icon
    >
      <div class="d-flex justify-content-start col-md-10 col-sm-10 col-10">
        <h3 class="title">XXX登入</h3>
      </div>
      <el-form-item class="col-md-10 col-sm-10 col-10" prop="account">
        <div class="d-flex">
          <span>帳號</span>
        </div>
        <!-- el-input無法輸入，加上@input="change($event)"強制刷新 -->
        <el-input
          v-model="account"
          placeholder="登入帳號"
          @input="change($event)"
          :suffix-icon="UserFilled"
        ></el-input>
      </el-form-item>
      <el-form-item class="col-md-10 col-sm-10 col-10" prop="password">
        <div class="d-flex">
          <span>密碼</span>
        </div>
        <!-- el-input無法輸入，加上@input="change($event)"強制刷新 -->
        <el-input
          v-model="password"
          type="password"
          placeholder="登入密碼"
          @input="change($event)"
          show-password
          :suffix-icon="Lock"
        ></el-input>
      </el-form-item>
      <div class="d-flex justify-content-start col-md-10 col-sm-10 col-10 mt-3">
        <el-button class="login-btn col-md-3" type="warning" @click="login()"
          >登入</el-button
        >
      </div>
    </el-form>
  </div>
</template>

<style>
.login-form {
  background: #ffffff;
  width: 380px;
  min-width: 300px;
  height: 420px;
  border-radius: 5px;
}

.title {
  border-bottom: 3px solid #458af1;
}

.login-btn {
  border: 1px solid #458af1;
  background: #ffffff;
  color: #458af1;
}
.login-btn:hover {
  border: 1px solid #458af1;
  background: #458af1;
  color: #ffffff;
}
</style>

<script lang="ts">
import { useStore } from "vuex";
import { ElMessage } from "element-plus";
export default {
  name: "Login",
  components: {},
  data() {
    return {
      user: {
        account: "",
        password: "",
      } as any,
      store: useStore(),
    };
  },
  methods: {
    login() {
      if (this.user.account == "" || this.user.password == "") {
        ElMessage({
          message: "請填寫帳號與密碼",
          type: "warning",
        });
        return;
      }
      // api.Login(this.user).then((res: any) => {
      //   this.store.commit("settoken", res.token);
      //   this.$emit("View", "success");
      // });
    },
    password() {
      this.$emit("View", "password");
    },
  },
};
</script>
